DROP TABLE payment;
ALTER TABLE application DROP FOREIGN KEY `fk_application_freelancer`;
ALTER TABLE application DROP FOREIGN KEY `fk_application_project`;
DROP INDEX fk_application_project ON application;
ALTER TABLE application DROP FOREIGN KEY `fk_application_freelancer`;
ALTER TABLE application MODIFY idApplication INT NOT NULL;
ALTER TABLE application CHANGE status status VARCHAR(255) NOT NULL, CHANGE cover_letter cover_letter LONGTEXT NOT NULL, CHANGE applied_at applied_at DATETIME NOT NULL, CHANGE updated_at updated_at DATETIME NOT NULL, CHANGE idApplication id INT AUTO_INCREMENT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (id);
ALTER TABLE application ADD CONSTRAINT FK_A45BDDC18545BDF5 FOREIGN KEY (freelancer_id) REFERENCES freelancer (idFreelancer);
DROP INDEX fk_application_freelancer ON application;
CREATE INDEX IDX_A45BDDC18545BDF5 ON application (freelancer_id);
ALTER TABLE application ADD CONSTRAINT `fk_application_freelancer` FOREIGN KEY (freelancer_id) REFERENCES freelancer (idFreelancer) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE evaluation DROP FOREIGN KEY `fk_evaluated`;
ALTER TABLE evaluation DROP FOREIGN KEY `fk_evaluator`;
ALTER TABLE evaluation DROP FOREIGN KEY `fk_project`;
DROP INDEX fk_project ON evaluation;
ALTER TABLE evaluation DROP FOREIGN KEY `fk_evaluated`;
ALTER TABLE evaluation DROP FOREIGN KEY `fk_evaluator`;
ALTER TABLE evaluation MODIFY idEvaluation INT NOT NULL;
ALTER TABLE evaluation CHANGE project_id project_id INT DEFAULT NULL, CHANGE comment comment LONGTEXT NOT NULL, CHANGE type type VARCHAR(255) NOT NULL, CHANGE created_at created_at DATETIME NOT NULL, CHANGE updated_at updated_at DATETIME NOT NULL, CHANGE idEvaluation id INT AUTO_INCREMENT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (id);
ALTER TABLE evaluation ADD CONSTRAINT FK_1323A57543575BE2 FOREIGN KEY (evaluator_id) REFERENCES `user` (idUser);
ALTER TABLE evaluation ADD CONSTRAINT FK_1323A5757C954B00 FOREIGN KEY (evaluated_id) REFERENCES `user` (idUser);
DROP INDEX fk_evaluator ON evaluation;
CREATE INDEX IDX_1323A57543575BE2 ON evaluation (evaluator_id);
DROP INDEX fk_evaluated ON evaluation;
CREATE INDEX IDX_1323A5757C954B00 ON evaluation (evaluated_id);
ALTER TABLE evaluation ADD CONSTRAINT `fk_evaluated` FOREIGN KEY (evaluated_id) REFERENCES user (idUser) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE evaluation ADD CONSTRAINT `fk_evaluator` FOREIGN KEY (evaluator_id) REFERENCES user (idUser) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE contract DROP FOREIGN KEY `contract_ibfk_1`;
ALTER TABLE contract DROP FOREIGN KEY `fk_contract_freelancer`;
ALTER TABLE contract DROP FOREIGN KEY `fk_contract_template`;
ALTER TABLE contract DROP FOREIGN KEY `idClient`;
ALTER TABLE contract DROP FOREIGN KEY `idPayment`;
ALTER TABLE contract DROP FOREIGN KEY `id_project`;
DROP INDEX fk_contract_freelancer ON contract;
DROP INDEX idClient ON contract;
DROP INDEX fk_contract_template ON contract;
DROP INDEX idPayment ON contract;
DROP INDEX id_project ON contract;
ALTER TABLE contract ADD title VARCHAR(255) NOT NULL, ADD content LONGTEXT NOT NULL, ADD clientSignature DATETIME DEFAULT NULL, ADD clientSignatureImage LONGTEXT DEFAULT NULL, ADD freelancerSignature DATETIME DEFAULT NULL, ADD freelancerSignatureImage LONGTEXT DEFAULT NULL, ADD createdAt DATETIME NOT NULL, ADD updatedAt DATETIME NOT NULL, ADD idContractTemplate INT NOT NULL, ADD idClient INT NOT NULL, ADD idFreelancer INT NOT NULL, DROP projectID, DROP PaymentID, DROP ClientID, DROP Type, DROP templateID, DROP freelancerID, DROP clientSignatureDate, DROP freelancerSignatureDate, CHANGE startDate startDate DATE NOT NULL, CHANGE EndDate endDate DATE NOT NULL, CHANGE status status VARCHAR(20) NOT NULL, CHANGE amount amount NUMERIC(10, 2) NOT NULL;
ALTER TABLE contract ADD CONSTRAINT FK_E98F285991B5BE79 FOREIGN KEY (idContractTemplate) REFERENCES contract_template (idContractTemplate);
ALTER TABLE contract ADD CONSTRAINT FK_E98F2859A455ACCF FOREIGN KEY (idClient) REFERENCES client (idClient);
ALTER TABLE contract ADD CONSTRAINT FK_E98F2859CEDACF02 FOREIGN KEY (idFreelancer) REFERENCES freelancer (idFreelancer);
CREATE INDEX IDX_E98F285991B5BE79 ON contract (idContractTemplate);
CREATE INDEX IDX_E98F2859A455ACCF ON contract (idClient);
CREATE INDEX IDX_E98F2859CEDACF02 ON contract (idFreelancer);
DROP INDEX templateName ON contract_template;
DROP INDEX idx_templateName ON contract_template;
ALTER TABLE contract_template MODIFY idTemplate INT NOT NULL;
ALTER TABLE contract_template ADD contractType VARCHAR(50) NOT NULL, ADD createdAt DATETIME NOT NULL, ADD updatedAt DATETIME NOT NULL, DROP createdDate, DROP updatedDate, CHANGE description description LONGTEXT DEFAULT NULL, CHANGE idTemplate idContractTemplate INT AUTO_INCREMENT NOT NULL, CHANGE templateName title VARCHAR(255) NOT NULL, CHANGE templateContent content LONGTEXT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (idContractTemplate);
ALTER TABLE project DROP FOREIGN KEY `id_client`;
ALTER TABLE project DROP FOREIGN KEY `id_client`;
ALTER TABLE project CHANGE status status VARCHAR(12) NOT NULL;
ALTER TABLE project ADD CONSTRAINT FK_2FB3D0EE2804AB20 FOREIGN KEY (ClientID) REFERENCES client (idClient);
ALTER TABLE project ADD CONSTRAINT FK_2FB3D0EE76A0B4B2 FOREIGN KEY (freelancerID) REFERENCES freelancer (idFreelancer);
CREATE INDEX IDX_2FB3D0EE76A0B4B2 ON project (freelancerID);
DROP INDEX id_client ON project;
CREATE INDEX IDX_2FB3D0EE2804AB20 ON project (ClientID);
ALTER TABLE project ADD CONSTRAINT `id_client` FOREIGN KEY (ClientID) REFERENCES client (idClient) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE task DROP FOREIGN KEY `task_ibfk_1`;
ALTER TABLE task DROP FOREIGN KEY `task_ibfk_1`;
ALTER TABLE task CHANGE deadline deadline DATETIME NOT NULL, CHANGE TaskStatus TaskStatus VARCHAR(50) NOT NULL, CHANGE dateAssign dateAssign DATETIME NOT NULL, CHANGE priority priority VARCHAR(50) NOT NULL;
ALTER TABLE task ADD CONSTRAINT FK_527EDB253F0ABB1C FOREIGN KEY (idProject) REFERENCES project (idProject);
DROP INDEX projectid ON task;
CREATE INDEX IDX_527EDB253F0ABB1C ON task (idProject);
ALTER TABLE task ADD CONSTRAINT `task_ibfk_1` FOREIGN KEY (idProject) REFERENCES project (idProject) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE admin DROP FOREIGN KEY `User`;
ALTER TABLE admin DROP FOREIGN KEY `User`;
ALTER TABLE admin ADD CONSTRAINT FK_880E0D76FE6E88D7 FOREIGN KEY (idUser) REFERENCES `user` (idUser) ON DELETE CASCADE;
DROP INDEX user ON admin;
CREATE INDEX IDX_880E0D76FE6E88D7 ON admin (idUser);
ALTER TABLE admin ADD CONSTRAINT `User` FOREIGN KEY (idUser) REFERENCES user (idUser) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE client DROP FOREIGN KEY `fk_client_user`;
ALTER TABLE client DROP FOREIGN KEY `fk_client_user`;
ALTER TABLE client DROP industry;
ALTER TABLE client ADD CONSTRAINT FK_C74404555FD86D04 FOREIGN KEY (userID) REFERENCES `user` (idUser) ON DELETE CASCADE;
CREATE UNIQUE INDEX UNIQ_C74404554FBF094F ON client (company);
DROP INDEX userid ON client;
CREATE INDEX IDX_C74404555FD86D04 ON client (userID);
ALTER TABLE client ADD CONSTRAINT `fk_client_user` FOREIGN KEY (userID) REFERENCES user (idUser) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE freelancer_forum_comment DROP FOREIGN KEY `freelancerID`;
ALTER TABLE freelancer_forum_comment DROP FOREIGN KEY `postID`;
DROP INDEX freelancerID ON freelancer_forum_comment;
DROP INDEX postID ON freelancer_forum_comment;
ALTER TABLE freelancer_forum_comment CHANGE post_id post_id INT NOT NULL, CHANGE comment_text comment_text LONGTEXT NOT NULL, CHANGE created_at created_at DATETIME NOT NULL;
ALTER TABLE freelancer_forum_post DROP FOREIGN KEY `freelancerPOST`;
DROP INDEX freelancerPOST ON freelancer_forum_post;
ALTER TABLE freelancer_forum_post ADD gif_url VARCHAR(500) DEFAULT NULL, ADD category VARCHAR(50) NOT NULL, CHANGE content content LONGTEXT NOT NULL, CHANGE created_at created_at DATETIME NOT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL, CHANGE views views INT NOT NULL;
ALTER TABLE freelancer_forum_reaction DROP FOREIGN KEY `freelancerREACT`;
ALTER TABLE freelancer_forum_reaction DROP FOREIGN KEY `postREACT`;
DROP INDEX freelancerREACT ON freelancer_forum_reaction;
DROP INDEX postREACT ON freelancer_forum_reaction;
ALTER TABLE freelancer_forum_reaction CHANGE reaction_type reaction_type VARCHAR(20) NOT NULL, CHANGE created_at created_at DATETIME NOT NULL;
CREATE UNIQUE INDEX user_post_unique ON freelancer_forum_reaction (freelancer_id, post_id);
ALTER TABLE freelancer DROP FOREIGN KEY `fk_freelancer_portfolio`;
ALTER TABLE freelancer DROP FOREIGN KEY `fk_freelancer_task`;
DROP INDEX TaskID ON freelancer;
DROP INDEX PortfolioID ON freelancer;
DROP INDEX ApplicationID ON freelancer;
ALTER TABLE freelancer DROP idApplication, DROP idPortfolio, CHANGE skills skills VARCHAR(255) NOT NULL, CHANGE verificationStatus verificationStatus VARCHAR(20) NOT NULL, CHANGE status status VARCHAR(20) NOT NULL, CHANGE idTask idTask INT DEFAULT NULL;
ALTER TABLE freelancer ADD CONSTRAINT FK_4C2ED1E8FE6E88D7 FOREIGN KEY (idUser) REFERENCES `user` (idUser) ON DELETE CASCADE;
DROP INDEX userid ON freelancer;
CREATE INDEX IDX_4C2ED1E8FE6E88D7 ON freelancer (idUser);
ALTER TABLE portfolio DROP FOREIGN KEY `fk_portfolio_freelancer`;
ALTER TABLE portfolio DROP FOREIGN KEY `fk_portfolio_freelancer`;
ALTER TABLE portfolio CHANGE created_At created_At DATETIME NOT NULL;
ALTER TABLE portfolio ADD CONSTRAINT FK_A9ED10624DCE947A FOREIGN KEY (freelancerId) REFERENCES freelancer (idFreelancer) ON DELETE CASCADE;
DROP INDEX freelancer ON portfolio;
CREATE INDEX IDX_A9ED10624DCE947A ON portfolio (freelancerId);
ALTER TABLE portfolio ADD CONSTRAINT `fk_portfolio_freelancer` FOREIGN KEY (freelancerId) REFERENCES freelancer (idFreelancer) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE portfolioitem DROP FOREIGN KEY `fk_portfolioitem_portfolio`;
ALTER TABLE portfolioitem DROP FOREIGN KEY `fk_portfolioitem_portfolio`;
ALTER TABLE portfolioitem CHANGE title title VARCHAR(255) DEFAULT NULL, CHANGE description description VARCHAR(500) DEFAULT NULL, CHANGE technologies technologies VARCHAR(500) DEFAULT NULL, CHANGE imageUrl imageUrl VARCHAR(500) DEFAULT NULL, CHANGE projectUrl projectUrl VARCHAR(255) DEFAULT NULL, CHANGE githubUrl githubUrl VARCHAR(255) DEFAULT NULL, CHANGE created_At created_At DATETIME NOT NULL;
ALTER TABLE portfolioitem ADD CONSTRAINT FK_D6C82F0B55073B34 FOREIGN KEY (idPortfolio) REFERENCES portfolio (idPortfolio) ON DELETE CASCADE;
DROP INDEX portfolio ON portfolioitem;
CREATE INDEX IDX_D6C82F0B55073B34 ON portfolioitem (idPortfolio);
ALTER TABLE portfolioitem ADD CONSTRAINT `fk_portfolioitem_portfolio` FOREIGN KEY (idPortfolio) REFERENCES portfolio (idPortfolio) ON UPDATE CASCADE ON DELETE CASCADE;
CREATE UNIQUE INDEX UNIQ_8D93D649E7927C74 ON user (email);
DROP INDEX IDX_75EA56E016BA31DB ON messenger_messages;
DROP INDEX IDX_75EA56E0FB7336F0 ON messenger_messages;
DROP INDEX IDX_75EA56E0E3BD61CE ON messenger_messages;
ALTER TABLE messenger_messages CHANGE created_at created_at DATETIME NOT NULL, CHANGE available_at available_at DATETIME NOT NULL, CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
CREATE INDEX IDX_75EA56E0FB7336F0E3BD61CE16BA31DBBF396750 ON messenger_messages (queue_name, available_at, delivered_at, id);
