parameters:
    level: 5
    paths:
        - src/Controller/users
        - src/Controller/profile
        - src/Controller/auth
        - src/Entity/users
        - src/Service/users
    ignoreErrors:
        - '#is never assigned int so it can be removed from the property type#'