ALTER TABLE project DROP FOREIGN KEY FK_2FB3D0EE2804AB20;
DROP INDEX id_client ON project;
CREATE INDEX IDX_2FB3D0EE2804AB20 ON project (ClientID);
ALTER TABLE project ADD CONSTRAINT FK_2FB3D0EE2804AB20 FOREIGN KEY (ClientID) REFERENCES client (idClient);
ALTER TABLE task CHANGE title title VARCHAR(255) NOT NULL, CHANGE deadline deadline DATETIME NOT NULL, CHANGE TaskStatus TaskStatus VARCHAR(50) NOT NULL, CHANGE dateAssign dateAssign DATETIME NOT NULL, CHANGE priority priority VARCHAR(50) NOT NULL;
ALTER TABLE task ADD CONSTRAINT FK_527EDB253F0ABB1C FOREIGN KEY (idProject) REFERENCES project (idProject);
DROP INDEX projectid ON task;
CREATE INDEX IDX_527EDB253F0ABB1C ON task (idProject);
ALTER TABLE client DROP FOREIGN KEY FK_C74404555FD86D04;
DROP INDEX userid ON client;
CREATE INDEX IDX_C74404555FD86D04 ON client (userID);
ALTER TABLE client ADD CONSTRAINT FK_C74404555FD86D04 FOREIGN KEY (userID) REFERENCES user (idUser) ON DELETE CASCADE;
DROP INDEX freelancerID ON freelancer_forum_comment;
DROP INDEX postID ON freelancer_forum_comment;
ALTER TABLE freelancer_forum_comment CHANGE post_id post_id INT NOT NULL, CHANGE comment_text comment_text LONGTEXT NOT NULL, CHANGE created_at created_at DATETIME NOT NULL;
DROP INDEX fk_post_freelancer ON freelancer_forum_post;
ALTER TABLE freelancer_forum_post CHANGE title title VARCHAR(200) NOT NULL, CHANGE content content LONGTEXT NOT NULL, CHANGE created_at created_at DATETIME NOT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL, CHANGE category category VARCHAR(50) NOT NULL, CHANGE views views INT NOT NULL;
DROP INDEX freelancerREACT ON freelancer_forum_reaction;
DROP INDEX postREACT ON freelancer_forum_reaction;
ALTER TABLE freelancer_forum_reaction CHANGE reaction_type reaction_type VARCHAR(20) NOT NULL, CHANGE created_at created_at DATETIME NOT NULL;
CREATE UNIQUE INDEX user_post_unique ON freelancer_forum_reaction (freelancer_id, post_id);
ALTER TABLE freelancer DROP FOREIGN KEY fk_freelancer_portfolio;
DROP INDEX TaskID ON freelancer;
DROP INDEX PortfolioID ON freelancer;
DROP INDEX ApplicationID ON freelancer;
ALTER TABLE freelancer DROP idApplication, DROP idPortfolio, CHANGE skills skills VARCHAR(255) NOT NULL, CHANGE verificationStatus verificationStatus VARCHAR(20) NOT NULL, CHANGE status status VARCHAR(20) NOT NULL, CHANGE idTask idTask INT DEFAULT NULL;
ALTER TABLE freelancer ADD CONSTRAINT FK_4C2ED1E8FE6E88D7 FOREIGN KEY (idUser) REFERENCES `user` (idUser) ON DELETE CASCADE;
DROP INDEX userid ON freelancer;
CREATE INDEX IDX_4C2ED1E8FE6E88D7 ON freelancer (idUser);
ALTER TABLE portfolio DROP FOREIGN KEY fk_portfolio_freelancer;
ALTER TABLE portfolio DROP FOREIGN KEY fk_portfolio_freelancer;
ALTER TABLE portfolio CHANGE created_At created_At DATETIME NOT NULL;
ALTER TABLE portfolio ADD CONSTRAINT FK_A9ED10624DCE947A FOREIGN KEY (freelancerId) REFERENCES freelancer (idFreelancer) ON DELETE CASCADE;
DROP INDEX freelancer ON portfolio;
CREATE INDEX IDX_A9ED10624DCE947A ON portfolio (freelancerId);
ALTER TABLE portfolio ADD CONSTRAINT fk_portfolio_freelancer FOREIGN KEY (freelancerId) REFERENCES freelancer (idFreelancer) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE portfolioitem DROP FOREIGN KEY fk_portfolioitem_portfolio;
ALTER TABLE portfolioitem DROP FOREIGN KEY fk_portfolioitem_portfolio;
ALTER TABLE portfolioitem CHANGE title title VARCHAR(255) DEFAULT NULL, CHANGE description description VARCHAR(500) DEFAULT NULL, CHANGE technologies technologies VARCHAR(500) DEFAULT NULL, CHANGE imageUrl imageUrl VARCHAR(500) DEFAULT NULL, CHANGE projectUrl projectUrl VARCHAR(255) DEFAULT NULL, CHANGE githubUrl githubUrl VARCHAR(255) DEFAULT NULL, CHANGE created_At created_At DATETIME NOT NULL;
ALTER TABLE portfolioitem ADD CONSTRAINT FK_D6C82F0B55073B34 FOREIGN KEY (idPortfolio) REFERENCES portfolio (idPortfolio) ON DELETE CASCADE;
DROP INDEX portfolio ON portfolioitem;
CREATE INDEX IDX_D6C82F0B55073B34 ON portfolioitem (idPortfolio);
ALTER TABLE portfolioitem ADD CONSTRAINT fk_portfolioitem_portfolio FOREIGN KEY (idPortfolio) REFERENCES portfolio (idPortfolio) ON UPDATE CASCADE ON DELETE CASCADE;
CREATE UNIQUE INDEX UNIQ_8D93D649E7927C74 ON user (email);
